# Background and foreground colors
background            {{ .term_bg }}
foreground            {{ .term_fg }}
cursor                {{ .term_cursor }}

# Background and foreground colors for selected text
selection_background  {{ .term_sel_bg }}
selection_foreground  {{ .term_sel_fg }}

# Black/Dark Grey
color0                {{ .term_black }}
color8                {{ .term_bright_black }}

# Red/Light Red
color1                {{ .term_red }}
color9                {{ .term_bright_red }}

# Green/Light Green
color2				  {{ .term_green }}
color10				  {{ .term_bright_green }}

# Yellow/Light Yellow
color3                {{ .term_yellow }}
color11               {{ .term_bright_yellow }}

# Blue/Light Blue
color4                {{ .term_blue }}
color12               {{ .term_bright_blue }}

# Magenta/Light Magenta
color5                {{ .term_magenta }}
color13               {{ .term_bright_magenta }}

# Cyan/Light Cyan
color6                {{ .term_cyan }}
color14               {{ .term_bright_cyan }}

# Light Grey/White
color7                {{ .term_white }}
color15               {{ .term_bright_white }}

active_tab_foreground   #181a21
active_tab_background   #b0aeff
active_tab_font_style   bold
inactive_tab_foreground #181a21
inactive_tab_background #5e5f8c
inactive_tab_font_style normal
