* {
	font-family: monospace, FontAwesome;
	font-size: 17px;

}

window#waybar {
	background-color: #2b2e38;
	color: #bac3cf;
}

#clock,
#battery,
#temperature,
#wireplumber,
#tray,
#mode,
#scratchpad {
	border-radius: 0.6em;
    padding: 0.2em 0.6em;
	margin: 0.3em 0;
	border: 0.1em solid #2c2f3a;
	background-color: #404552;
}

#tray {
	padding: 0.1em 0.4em;
}

#battery.charging, #battery.plugged {
	color: #46f34c;
}

#battery.warning {
	color: #f0ba4c;
}

#battery.critical {
	color: #f0494c;
}

#wireplumber.muted {
    color: #f0494c;
}

#temperature.critical {
    color: #f0494c;
}
