* {
	font-family: FontAwesome, monospace; 
	font-size: 13pt;

}

window#waybar {
	background-color: #2b2e38;
	color: #bac3cf;
}

#clock,
#battery,
#temperature,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#scratchpad {
	border-radius: 10px;
    padding: 4px 10px;
	margin: 4px 0;
	border: 1px solid #2c2f3a;
	background-color: #404552;
}
#battery.charging, #battery.plugged {
	color: #46f34c;
}

#battery.warning {
	color: #f0ba4c;
}

#battery.critical {
	color: #f0494c;
}

#pulseaudio.muted {
    color: #f0494c;
}

#temperature.critical {
    color: #f0494c;
}
