#!/bin/sh
# Sets up configuration for specific hardware
{{- if eq .chezmoi.hostname "nrdOrca-Arch" }}
# My laptop
# Configure touchpad
riverctl input pointer-1739-52632-MSFT0004:00_06CB:CD98_Touchpad disable-while-typing enabled
riverctl input pointer-1739-52632-MSFT0004:00_06CB:CD98_Touchpad natural-scroll enabled
riverctl input pointer-1739-52632-MSFT0004:00_06CB:CD98_Touchpad tap enabled
riverctl input pointer-1739-52632-MSFT0004:00_06CB:CD98_Touchpad accel-profile flat

# Configure wireless mouse
riverctl input pointer-1133-16500-Logitech_G305 accel-profile flat
riverctl input pointer-1133-16500-Logitech_G305 pointer-accel 0

riverctl xcursor-theme Adwaita 32
# Use keys that have meaning in Windows (switch active window and settings)
# to do media control
for mode in normal locked
do
	riverctl map $mode Super P spawn 'playerctl play-pause'
	riverctl map $mode Super I spawn 'playerctl next'
done
{{- else if eq .chezmoi.hostname "nrdBlue-Arch" }}
# Desktop
# Configure mouse
riverctl input pointer-1133-49298-Logitech_G203_LIGHTSYNC_Gaming_Mouse accel-profile flat
riverctl input pointer-1133-49298-Logitech_G203_LIGHTSYNC_Gaming_Mouse pointer-accel 0

riverctl xcursor-theme Adwaita 24
{{- end }}
