[Settings]
gtk-application-prefer-dark-theme=true
gtk-cursor-theme-name=Adwaita
gtk-cursor-theme-size= {{- .cursor_size }}
gtk-font-name=sans-serif {{ .font_size }}
gtk-icon-theme-name=Papirus-Dark
gtk-theme-name=Arc-Dark
