# Setting up some normal stuff - fonts, icons, colors
font={{.default_font_name}}
icons=1
icon-path=/usr/share/icons/Papirus-Dark
background-color={{ list .gui_bg "ff" | join "" }}
text-color={{ list .gui_text "ff" | join "" }}
progress-color=#446795ff
default-timeout=3000
border-color={{ list .gui_border "ff" | join "" }}
border-radius=5
layer=overlay

[actionable]
on-button-left=exec makoctl menu -n "$id" -- fuzzel -d
on-button-middle=dismiss

# Customize behavior of notifications from my volume and brightness
# scripts
[app-name="volume-notification-script"]
anchor=bottom-center
group-by=app-name

[app-name="brightness-notification-script"]
anchor=bottom-center
group-by=app-name

[anchor=bottom-center]
text-color=#ffffffff
max-icon-size=256
background-color={{ list .gui_wm_panel_bg "f2" | join "" }}
border-color=#00000055
border-size=2
icon-location=top
padding=10
height=300
format=<b>%s</b>
